div{
    margin: 300px 500px;
  }
  
  body{
     background-color: palevioletred;
  }
  
  .btn {
    background: #f21391;
    background-image: -webkit-linear-gradient(top, #f21391, #2980b9);
    background-image: -moz-linear-gradient(top, #f21391, #2980b9);
    background-image: -ms-linear-gradient(top, #f21391, #2980b9);
    background-image: -o-linear-gradient(top, #f21391, #2980b9);
    background-image: linear-gradient(to bottom, #f21391, #2980b9);
    -webkit-border-radius: 36;
    -moz-border-radius: 36;
    border-radius: 36px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    padding: 8px 15px 8px 15px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #2618f2;
    background-image: -webkit-linear-gradient(top, #2618f2, #3498db);
    background-image: -moz-linear-gradient(top, #2618f2, #3498db);
    background-image: -ms-linear-gradient(top, #2618f2, #3498db);
    background-image: -o-linear-gradient(top, #2618f2, #3498db);
    background-image: linear-gradient(to bottom, #2618f2, #3498db);
    text-decoration: none;
  }